# All files are treated as text files with Unix-style line endings with UTF-8 encoding by default.
* text eol=lf encoding=utf-8

# All .bat files are treated as text files with Windows-style line endings with UTF-8 encoding by default.
*.bat text eol=crlf encoding=utf-8

# All .cmd files are treated as text files with Windows-style line endings with UTF-8 encoding by default.
*.cmd text eol=crlf encoding=utf-8

# All .ini files are treated as text files with Windows-style line endings with UTF-8 encoding by default.
*.ini text eol=crlf encoding=utf-8

# gradle/wrapper/gradle-wrapper.jar is tracked with Git LFS.
gradle/wrapper/gradle-wrapper.jar filter=lfs diff=lfs merge=lfs -text

# All .png files are tracked with Git LFS.
*.png filter=lfs diff=lfs merge=lfs -text

# All .jpg files are tracked with Git LFS.
*.jpg filter=lfs diff=lfs merge=lfs -text

# All .jpeg files are tracked with Git LFS.
*.jpeg filter=lfs diff=lfs merge=lfs -text

# All .bmp files are tracked with Git LFS.
*.bmp filter=lfs diff=lfs merge=lfs -text

# All .gif files are tracked with Git LFS.
*.gif filter=lfs diff=lfs merge=lfs -text

# All .tiff files are tracked with Git LFS.
*.tiff filter=lfs diff=lfs merge=lfs -text
