[core]
    # This is mandatory as it prevents encoding/line ending issues!
    autocrlf = false
    # This is recommended to warn about issues, it can also be set to `true` to
    # enforce the above.
	safecrlf = true
    # This is the path to our custom hooks.
    hookspath = ".hooks/git/"
[lfs "https://codefloe.com/glektarssza/minecraft-player-handling-customizer.git/info/lfs"]
	locksverify = true
